.dashboard{
    -fx-background-image: url("ROG_ANIM_BG.gif");
    -fx-background-repeat:stretch;
    -fx-background-size:  110%  100%;
    -fx-background-position: bottom ;
}

.action_box{
    -fx-effect: dropshadow( three-pass-box , rgba(240,0,255,0.5) , 20,0.8,3,0 );
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(#009ecc,#c000cc);
    -fx-background-color: rgba(255,255,255,0.1 );
}

.root{
}