/*
StreamPi Default Light mode
Fully supports JavaFX CSS
*/

.root {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}


.scroll-pane {
   -fx-background: #FFFFFF;
   -fx-border-color:#FFFFFF;
   /*-fx-focus-color: #FFFFFF;
   -fx-faint-focus-color:#FFFFFF;*/
}