/*
StreamPi Default Light mode
Fully supports JavaFX CSS
*/

.plugins_pane{
    -fx-background-color : #F0F0F0;
}

.client_details_pane  {
    -fx-background-color : #FFFFFF;
}

.action_grid_pane {
    -fx-background-color: white;
}

.action_details_pane {
    -fx-background-color : #F2F3F5;
}

.action_details_pane_vbox {
    -fx-background-color : #F2F3F5;
}

.action_details_pane_scroll_pane {
   -fx-background: #F2F3F5;
   -fx-border-color:#F2F3F5;
   /*-fx-focus-color: #F2F3F5;
   -fx-faint-focus-color:#F2F3F5;*/
}